$back: #5a442a;
$read: #707070;

@mixin yumin {
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}

* {
  @include yumin;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

// header
header {
  height: 80px;
  background-color: $back;
  .header-logo {
    padding: 20px 0 0 20px;
    p {
      font-size: 32px;
      color: #ffffff;
      line-height: 1;
      span {
        font-size: 20px;
      }
    }
  }
}
// end header

//main
main {
  .main-vis{
    width: 100%;
    min-width: 1000px;
    vertical-align:top;
  }

  .blogs {
    background-color: #faf5ed;
    padding: 50px 20px;

    .blogs-title {
      font-size: 24px;
      line-height: 36px;
      font-weight: bold;
      color: $read;

      span {
        font-size: 36px;
      }
    }

    .blog {
      display: flex;
      margin-top: 30px;
      height: 280px;

      img {
        width: 480px;
        color: $read;
      }
      p {
        margin-left: 20px;
        width: 460px;
        font-size: 16px;
        line-height: 1.75;
      }
    }

    .last-mon {
      margin-top: 50px;
      text-align: center;
    }
  }
}
// end main

// footer
footer {
  background-color: $back;
  height: 60px;
  padding-top: 20px;

  p {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
  }
}
// end footer
